/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

@import 'header';

body{
    background-color: mediumvioletred;
    
}


header{
        h1{
         text-align: center;
         font-family: 'Monoton', cursive;
       
    }
}

main{
    margin-left: 40%;
    h2{
        font-family: 'Monoton', cursive;
    }

    #guess{
        display:block;
        padding: 15px;
    }


    ul{
        list-style: none;
        
        li{
            margin-left: 0;
        }
    }

    button{
        padding: 15px;
        border: 2px solid black;
        background-color: violet;  
        display: block;
        margin-top: 15px;
        font-family: 'Monoton', cursive;
  
    }
}

footer{
    margin-left: 40%;
    button{
        padding: 15px;
        border: 2px solid black;
        background-color: violet; 
        font-family: 'Monoton', cursive;
    
    }
}






